<div id='intro-section'>
	<img id="profile-pic" class="img-responsive" src="img/profile.jpg" alt="Carlos Mendoza - Software Developer">
	<p id="intro-text">I've always had a passion for learning, teaching, creating, and technology. This blog documents some of my key learnings as a Software Developer. I know a lot of JavaScript; thus, I am very familiar with some of its derived technologies, including AngularJS, Node.js, and MongoDB. I guess you can call me a Full Stack Developer. I am also known to delve into other platforms from time to time.</p>
	<h5 id="profile-img-caption">Carlos R. Mendoza</h5>
</div>

<div id='section-divider'></div>